<div class="devise-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 devise-new-container">
        <h1  class="text-white">UKA</h1>
        <header class="text-white">Resend Confirmation Instructions</header>
         <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
         <%= devise_error_messages! %>

         <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
         </div>

         <div class="actions">
          <%= f.submit "Check Out" %>
         </div>

         <% end %>
        <%= render "devise/shared/links" %>
      </div>
     </div>
   </div>
 </div>
