<div class="tutorials-edit-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 tutorials-edit-container">
        <h1 class="text-center text-white">Final Comfirmation</h1>
        <%= video_tag @profile.movie.video.to_s %>
        <%= form_for @profile,url: tutorials_edit_path do |f| %>
        <div style="color:white">Title
        <%= f.text_field :title, class: 'btn btn-block btn-white' %>
        </div>
        <div style="color:white">Script
        <%= f.text_area :script, class: 'btn btn-block btn-white' %>
        </div>
        <%= f.submit "Let Make It Happen　With UKA! " %>
        <% end %>
      </div>
    </div>
  </div>
</div>
