<div class="posts-edit-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 posts-edit-container">
        <h1 class="text-white">2nd Comfirmation</h1>
        <%= video_tag @post.movie.video.to_s %>
          <%= form_for @post,url: posts_update_path do |f| %>
              <div style="color:white"><h1>Title</h1>
                <%= f.text_field :title, class: 'btn btn-block btn-white' %>
              </div>
              <div style="color:white"><h1>Script</h1>
                <%= f.text_area :script, class: 'btn btn-block btn-white' %>
              </div>
              <%= f.submit "Check Out" %>
        <% end %>
        <style media="screen">
          input, textarea {
            -webkit-user-select: auto !important;
            -moz-user-select: auto !important;
            -ms-user-select: auto !important;
            user-select: auto !important;
          }
        </style>
      </div>
    </div>
  </div>
</div>
