<div class="posts-edit-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 posts-edit-container">
        <h1 class="text-center text-white">Check Your Pressentation</h1>
        <%= video_tag @post.movie.video.to_s %>
          <%= form_for @post,url: posts_update_path do |f| %>
              <%= f.text_area :script, class: 'btn btn-block btn-white' %>
              <%= f.text_field :title, class: 'btn btn-block btn-white' %>
              <%= f.submit "Uploading Your Presentation" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
